body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: rgb(50, 50, 50);
  color: white;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(100, 100, 100), 25%, rgb(30, 30, 30));
  box-shadow: 0 0 10px black;
  z-index: 1;
}

nav > li {
  display: inline;
  margin: 20px min(50px, 4vw);
  border: 1px black;
}

nav > li:hover {
  color: gold;
  transition: color 200ms;
  cursor: pointer;
}

.active {
  color: gold;
  transition: color 200ms;
}

.inactive {
  color: white;
  transition: color 200ms;
}

.underline {
  position: absolute;
  height: 1px;
  top: 45px;
  border-radius: 25px;
  background: gold;
}

.underlineHome {
  width: 43.288px;
  right: calc(min(50px, 4vw) * 7 + 157.265px);
  transition: all 200ms;
}

.underlineAbout {
  width: 44.475px;
  right: calc(min(50px, 4vw) * 5 + 112.79px);
  transition: all 200ms;
}

.underlineProjects {
  width: 57.5px;
  right: calc(min(50px, 4vw) * 3 + 55.29px);
  transition: all 200ms;
}

.underlineContact {
  width: 55.29px;
  right: min(50px, 4vw);
  transition: all 200ms ease-in-out;
}

.sectionContainer-enter {
  opacity: 0;
  height: 0;
}

.sectionContainer-enter-active {
  opacity: 1;
  transition: opacity 1s 0.5s;
}

.sectionContainer-exit {
  opacity: 1;
}

.sectionContainer-exit-active {
  opacity: 0;
  transition: opacity 1s;
}

.page {
  width: 100%;
  height: calc(100vh - 61.6px);
}

.pageHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.pageTitle {
  display: block;
  font-size: 2em;
  font-weight: normal;
}

.pageTitleAccent {
  width: 100%;
  height: 1px;
  background-color: gold;
  border-radius: 25px;
  z-index: -1;
}